.container{
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    border: 2px solid white;
    transition: border .3s;
    cursor: pointer;
    background-color: white;
    z-index: 1000;
}

.container:hover{
    border-color: rgb(191, 191, 191);
}

.image{
    margin-left: 1rem;
    height: 50px;
    width: 50px;
    object-fit: contain;
}

.titleContainer{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.title{
    font-size: .9rem;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 0;
    color: rgb(28, 28, 28);
    line-height: .9rem;
}

@media (max-width: 700px) {
    .title{
        font-size: .8rem;
    }
}