.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,.2);
}

.petitLogo{
    width: 17rem;
    height: 5rem;
    cursor: pointer;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form{
    display: flex;
    flex-direction: row;
}

.input{
    width: 35rem;
    border: none;
    background-color: #E9E5DF;
    height: 2.5rem;
    border-radius: 2rem;
    outline: none;

    font-family: 'Quicksand';
    text-indent: 1rem;
}

.input::placeholder{
    color: #03989E;
    font-size: 1rem;

}

.lupa{
    width: 2.3rem;
    height: 2.3rem;
    margin-left: -2.3rem;
    margin-top: .5rem;
    cursor: pointer;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.category{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1rem;
    color: white;
    border: none;
    padding: .3rem;
    padding-left: .8rem;
    padding-right: .8rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color .5s;
}

.category:nth-child(1) {
    background-color: #5EC1C4;
}

.category:nth-child(2) {
    background-color: #A787E6;
}

.category:nth-child(3) {
    background-color: #7ED957;
}

.category:nth-child(4) {
    background-color: #5EC1C4;
}

.category:nth-child(5) {
    background-color: #A787E6;
}

.category:nth-child(6) {
    background-color: #7ED957;
}

.category:nth-child(1):hover{
    background-color: #03989E;
}

.category:nth-child(2):hover{
    background-color: #632ECB;
}

.category:nth-child(3):hover{
    background-color: #4CC01B;
}

.category:nth-child(4):hover{
    background-color: #03989E;
}

.category:nth-child(5):hover{
    background-color: #632ECB;
}

.category:nth-child(6):hover{
    background-color: #4CC01B;
}

.logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: fit-content;
}

.logoContainer{

    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #E9E5DF;
    border-radius: 50%;
    cursor: pointer;
}

.logo{
    width: 1.7rem;
    height: 1.7rem;
}